#alphabet-holder {
  position: fixed;
  z-index: 9999999;
  font-size: 3rem;
  max-width: 100%;
  text-align: center;
}

#alphabet-holder .alphabet {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
}

#alphabet-holder .alphabet:hover {
  border-color: black;
  cursor: pointer;
}
