#form-container {
  position: absolute;
  top: 7%;
  left: 15%;
  width: 75%;
  height: 75%;
  display: none;
  background-color: white;
  z-index: 1000005;
}
#form-pdf {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000005;
}
#form-md {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  z-index: 1000005;
}
#form-input {
  position: absolute;
  top: 110%;
  left: 20%;
  width: 65%;
  height: 3vh;
  display: none;
  z-index: 0;
}
.form-input-btn {
  font-size: 1.2rem;
}
