#form-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1024px;
  height: 75%;
  display: none;
  background-color: white;
  z-index: 1000005;
}

#form-pdf {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000005;
}

#form-md {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  z-index: 1000005;
}

#form-input {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: max-content;
  display: none;
  z-index: 0;
}

.form-input-btn {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  width: 5rem;
  height: 3rem !important;
  outline: none;
  border: none !important;
  border-radius: 7px !important;
  font-weight: 700 !important;
  background-color: #ddd !important;
}

.form-input-btn:hover {
  outline: 2px solid #999 !important;
  outline-offset: 0.2rem !important;
}

.form-input-btn:active {
  outline: 2px solid #999 !important;
  outline-offset: 0.2rem !important;
  background-color: #bbb !important;
}

/* -------------------------------------------------------------------------- */

#exp-end-text {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: white;
  font-size: 1rem;
  display: grid;
  line-height: 100vh;
  vertical-align: middle;
  grid-template-columns: auto;
  justify-content: space-around;
  visibility: hidden;
  z-index: 10000;
  user-select: none;
}
