.threshold-button {
  position: fixed;
  z-index: 999999;
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
  border: none;
  outline: none;
  background-color: #111;
  color: #fff;
  font-weight: 700;
  border-radius: 7px;
  cursor: pointer;
}

.threshold-button:hover {
  outline: 2px solid #000;
  outline-offset: 0.2rem;
}

.threshold-button:active {
  outline: 2px solid #000;
  outline-offset: 0.2rem;
  background-color: #444;
}

.threshold-beep-button {
  top: 1rem;
  right: 1rem;
}

.threshold-proceed-button {
  bottom: 0.5rem;
  /* right: 1rem; */
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}
