.responseScreen {
  /* width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px; */
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: auto;
  margin-top: 10vh;
}

.phrase-identification-header {
  z-index: 9999999;
  font-size: xx-large;
}
.phrase-identification-clickable-categories {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  z-index: 9999999;
}

.phrase-identification-category-item {
  display: inline-block;
  padding: 5px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
}
.phrase-identification-category-item:hover {
  border-color: black;
  cursor: pointer;
}

.phrase-identification-category-title {
  /* font-size: 1.5em; */
  font-weight: bold;
  /* color: black; */
}

.phrase-identification-item-selected {
  border-color: black;
}

.phrase-identification-item-not-selected {
  border-color: rgba(0, 0, 0, 0);
}

.phrase-identification-item-correct {
  background-color: rgba(0, 128, 0, 0.266);
}

.phrase-identification-item-incorrect {
  background-color: rgba(255, 0, 0, 0.26);
}

.scientist-feedback-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background-color: lightblue;
  visibility: visible;
}
.scientist-feedback-circle-container {
  display: flex;
  flex-direction: row;
  z-index: 9999999;
  height: 100px;

  position: absolute;
  bottom: 0;
  left: calc(50%-50vw);
}

.scientist-feedback-circle-correct {
  background-color: rgba(0, 128, 0, 0.266);
}
.scientist-feedback-circle-incorrect {
  background-color: rgba(255, 0, 0, 0.26);
}
