.popup-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000007;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 30%;
  background-color: #fff;
  /* border-radius: 9px; */
  padding: 1rem;
  z-index: 1;
}

.popup-title {
  position: relative;
  font-size: 1.6rem;
}

.popup-sub-text {
  position: relative;
  display: none;
  font-size: 1rem;
}

.popup-continue-button {
  position: absolute;
  display: none;
  left: 1rem;
  bottom: 1rem;
  text-align: center;
  padding: 0.5rem 1.2rem;
  background-color: #333;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.popup-continue-button:hover {
  background-color: #444;
}

.popup-continue-button:active {
  background-color: #111;
}

.sound-calibration-background {
  background-color: #fff;
  position: absolute;
  width: 40%;
  top: 10% !important;
}

/* -------------------------------------------------------------------------- */

/* question and answer */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.swal2-container {
  background: #eaeaea !important;
  cursor: default !important;
}

.swal2-container.no-background {
  background: rgba(0, 0, 0, 0.5) !important;
}

.swal2-popup {
  width: 80%;
  cursor: default;
  opacity: 1;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.swal2-title {
  color: #000 !important;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 3rem 2.5rem 1rem;
  padding: 0;
  user-select: none;
  text-align: left;
}

.swal2-radio {
  color: #000;
  flex-direction: column;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.swal2-radio .swal2-label {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 150%;
  user-select: none;
}

.swal2-radio label {
  width: 80% !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin: 0.3rem 0 !important;
  font-size: 1.5rem !important;
  cursor: pointer !important;
  padding: 0.5rem !important;
  background-color: #ddd !important;
  border-radius: 7px !important;
}

.swal2-radio label:hover {
  outline: 2px solid #aaa !important;
  outline-offset: 0.2rem !important;
}

.swal2-radio label:has(input[type="radio"]:checked) {
  background-color: #aaa !important;
  /* border-left: 5px solid #333; */
}

.swal2-radio label input {
  display: none;
}

.swal2-textarea {
  resize: none;
  border-radius: 7px;
  height: 7rem;
}

.swal2-confirm {
  background-color: #333 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 7px !important;
  /* margin: 1rem !important; */
  display: block;
  position: relative !important;
}

.hidden-button {
  display: none !important;
}

/* -------------------------------------------------------------------------- */

.swal2-input {
  font-family: Courier, monospace;
  font-size: 2rem;
  margin: 1rem 4rem 0;
}

.swal2-input-label,
.swal2-html-container {
  margin: 2rem 4rem 0;
  /* text-align: left; */
  line-height: 150%;
}

.swal2-cancel,
.swal2-deny {
  border-radius: 7px !important;
}

.swal2-file {
  padding: 1rem;
}

/* ----------------------------- special classes ---------------------------- */

.id-collection-popup .threshold-button {
  position: relative;
}

.centered-title {
  text-align: center;
}

.narrow-popup {
  width: 60% !important;
}

.right-to-left {
  direction: rtl !important;
  text-align: right !important;
}
