#barContainer {
  position: absolute;
  bottom: 5vh;
  right: 5px;
  width: 30px;
  height: 95%;
  background-color: #d8d8d8;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 1000;
}

#progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00ff00;
  border-radius: 5px;
  z-index: 1000;
}

/* Experiment-wide progress bar */
.experiment-progress-container {
  position: absolute;
  bottom: 5vh;
  right: 5px;
  width: 30px;
  height: 95%;
  background-color: #d8d8d8;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 1000;
}

.experiment-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00ff00;
  border-radius: 5px;
  z-index: 1000;
  transition: height 0.3s ease;
}
