#characterSet-holder {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  font-size: 3rem;
  max-width: 100%;
  text-align: center;
  user-select: none !important;
}

#characterSet-holder .characterSet {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
}

#characterSet-holder .characterSet:hover {
  border-color: black;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */

/* .readingAnswer {
  font-size: 2rem !important;
} */
