#micId {
  margin-top: 10px;
  margin-bottom: 10px;
  size: 20;
  width: 50%;
  border-radius: 5px;
  /* height: ; */
}

#smartphoneCheckbox {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: 2px;
}

#usbCheckbox {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: 2px;
}

#modelNumberInput {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#modelNameInput {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
#brandInput {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Style the autocomplete container */
.autocomplete {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

/* Style the autocomplete input field */
input {
  padding: 10px;
  width: 300px;
  z-index: 9999;
}

/* Style the autocomplete dropdown list */
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  max-height: 150px;
  overflow-y: auto;
  z-index: 9999;
  background-color: white;
}

/* Style the individual autocomplete items */
.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  z-index: 9999;
}

/* Highlight the matching part of the suggestion */
.highlight {
  font-weight: bold;
  color: blue;
}

#loudspeakerInstructions1 {
  /*   instructions.style.width = "100%";
  instructions.style.fontSize = "1.1rem";
  instructions.style.fontWeight = "normal"; */
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
}

#micDropdown {
  width: fit-content;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #dddddd;
  padding: 10px;
}

#micNameInput {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#micManufacturerInput {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#micSerialNumberInput {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#modelNumberInput2 {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#modelNameInput2 {
  width: 30vw;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loudspeakerInstructions2 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 10px;
}

#completeTransducerTable {
  border-collapse: collapse;
}
