#trial-break-progress-bar-wrapper {
  display: none;
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 0.75rem;
  border: 1px solid black;
  background-color: #eee;
  z-index: 1000009;
}

#trial-break-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: green;
  z-index: 1000009;
}
