.hide-cursor {
  cursor: none;
}
.needs-page-button {
  white-space: nowrap;
  border-radius: 0.3rem;
  background-color: #999;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0.5rem;
  min-width: 7rem;
  border: none;
  @media screen and (max-width: 560px) {
    min-width: auto;
  }
}
.needs-page-button:hover {
  background-color: #aaa;
}
.needs-page-button:active {
  background-color: #666;
}
