#soundTestModalSoundLevelContainer {
  display: flex;
  justify-content: space-between;
}
#soundTestModalSpeakerSoundGainContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}
#responseScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

#vocoder-phrase-header {
  z-index: 9999999;
  /* position:"fixed"; */
  margin-top: 20vh;
  margin-left: 10vw;
  font-size: xx-large;
}
#vocoder-phrase-clickable-category {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  z-index: 9999999;
  /* position: fixed; */
  /* padding-left: 30px; */
  margin-top: 10vh;
  margin-left: 10vw;
}

.vocoder-phrase-category-item {
  display: inline-block;
  padding: 15px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
}
.vocoder-phrase-category-item:hover {
  border-color: black;
  cursor: pointer;
}

.vocoder-phrase-category-title {
  /* font-size: 1.5em; */
  font-weight: bold;
  /* color: black; */
}

.vocoder-phrase-item-selected {
  border-color: black;
}

.vocoder-phrase-item-not-selected {
  border-color: rgba(0, 0, 0, 0);
}

#soundParametersFromCalibration {
  line-height: 80%;
}

#plotCanvas {
  width: 100%;
  height: 100%;
}

/* #soundTestContainer{

} */

#soundTestPlots {
  margin-left: 5%;
  flex: 1;
}
