#vocoder-phrase-clickable-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  z-index: 9999999;
  position: fixed;
}

#vocoder-phrase-category-item {
  display: inline-block;
  padding: 15px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
}
#vocoder-phrase-category-item:hover {
  border-color: black;
  cursor: pointer;
}
