.form-input-btn {
  font-size: 1.2rem;
  margin: 0 0rem;
  /* width: 5rem; */
  height: 3rem !important;
  outline: none;
  border: none !important;
  border-radius: 7px !important;
  font-weight: 700 !important;
  background-color: #ddd !important;
}

.form-input-btn:hover {
  outline: 2px solid #999 !important;
  outline-offset: 0.2rem !important;
}

.form-input-btn:active {
  outline: 2px solid #999 !important;
  outline-offset: 0.2rem !important;
  background-color: #bbb !important;
}
